{exp:stockpile:add key="test" var_name="test_var"}test val 1{/exp:stockpile:add}
{exp:stockpile:add key="test" var_name="test_var"}test val 2{/exp:stockpile:add}

{exp:stockpile:get key="test"}
    {stockpile:test_var}<br>
{/exp:stockpile:get}

<br><br><br><br><br>
-------------------
<br><br><br><br><br>

{exp:stockpile:info}
    {stockpile:test:last_index}
{/exp:stockpile:info}

<br><br><br><br><br>
-------------------
<br><br><br><br><br>

{exp:stockpile:create_unique_key parse="inward"}
    {exp:stockpile:add key="{stockpile:unique_key}" var_name="test_var"}thing{/exp:stockpile:add}
{/exp:stockpile:create_unique_key}

<br><br><br><br><br>
-------------------
<br><br><br><br><br>

{exp:stockpile:create_unique_key parse="inward"}
    {exp:stockpile:add key="{stockpile:unique_key}" var_name="test_var"}asdf{/exp:stockpile:add}
{/exp:stockpile:create_unique_key}

<br><br><br><br><br>
-------------------
<br><br><br><br><br>

{exp:stockpile:get_unique_key_group parse="inward"}
    {exp:stockpile:get key="{stockpile:unique_key}"}
        {stockpile:test_var}<br>
    {/exp:stockpile:get}<br><br>
{/exp:stockpile:get_unique_key_group}
